@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #b7ceaa;
  --foreground: #689151;
  --font-lato: "Lato";
  --font-chivo: "Chivo";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #b7ceaa;
    --foreground: #3f612d;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-lato);
}
